{% extends 'base.html' %}

{% block content %}
<h1 class='title' style="text-align: center;">{% block title %} {{ _('Au sujet') }} {% endblock %} {{ _('de l"application bibliotheque') }}.</h1>

<h2 class='subtitle' style="text-align: center;">de l'association d'Esperanto de Lausanne<br></h2>

<h4 class='title is-4'>Qui peut l'utiliser?<br></h4><p>Le site est utilisable par tous, mais seules les personnes ayant ouvert un compte et étant&nbsp;connectées peuvent voir les livres disponibles, déjà prêtés et en réserver.<br></p><br>

<h4 class='title is-4'> Statut de l'utilisateur<br></h4><p>Les actions possibles changent en fonction du statut de l'utilisateur.<br></p><br>


<div class="columns is-mobile">
  <div class="column">
    <strong> Status Connection</strong>
  </div>
  <div class="column">
    <strong> Lister les livres</strong>
  </div>
  <div class="column">
    <strong>lister les disponibles</strong>
  </div>
  <div class="column">
    <strong>lister les non disponibles</strong>
  </div>
   <div class="column">
    <strong>réserver</strong>
  </div>
  <div class="column">
   <strong>rendre</strong>
 </div>
  <div>
    <strong>Ajouter un livre</strong>
 </div>
  <div class="column">
    <strong>Chercher Titre, Auteur</strong>
  </div>
  <div class="column">
  <strong>s'enregister</strong>
  </div>
  <div class="column">
  <strong> Connecter </strong>
  </div>
  <div class="column">
  <strong> De-Connecter </strong>
  </div>
    </div>
<div class="columns is-mobile">
  <div class="column">
    <strong>Non Connecté</strong>
  </div>
  <div class="column">
    Oui
  </div>
  <div class="column">
    Non
  </div>
<div class="column">
  Non
</div>
<div class="column">
  Non
</div>
<div class="column">
  Non
</div><div class="column">
  Non
</div>
<div class="column">
    Oui
  </div>
  <div class="column">
    Oui
  </div>
  <div class="column">
    Oui
  </div>
<div class="column">
  Non
</div>
</div>
<div class="columns is-mobile">
  <div class="column">
    <strong>Connecté</strong>
  </div>
  <div class="column">
    Oui
  </div>
  <div class="column">
    Oui
  </div>
<div class="column">
  Oui
</div>
<div class="column">
Oui
</div>
<div class="column">
  Non
</div>
<div class="column">
  Non
</div>
<div class="column">
    Oui
  </div>
  <div class="column">
    Non
  </div>
  <div class="column">
    Non
  </div>
  <div class="column">
      Oui
    </div>
</div>
<div class="columns is-mobile">
  <div class="column">
    <strong>Connecté Admin</strong>
  </div>
  <div class="column">
    Oui
  </div>
  <div class="column">
    Oui
  </div>
<div class="column">
  Oui
</div>
<div class="column">
  Oui
</div>
<div class="column">
  Oui
</div>
<div class="column">
    Oui
  </div>
<div class="column">
    Oui
  </div>
  <div class="column">
    Non
  </div>
  <div class="column">
    Non
  </div>
  <div class="column">
      Oui
    </div>
</div>

<p>Tous les utilisateurs pourront voir la description d'un livre en sélectionnant son numéro.<br></p>
<br>
<h4 class='title is-4' >Les langues</h4>
<p>Le site est en deux langues Français et Esperanto,<br></p><p>Tous les utilisateurs peuvent changer de langues.<br></p>
<p> Le changement de langue fait revenir à l'accueil.<br></p>
<br><h4 class='title is-4'>La connexion<br></h4><p>Il faut s'enregistrer, <strong>Attention</strong> le nom d'utilisateur est unique <br></p>
<br><h4 class='title is-4'>Futur<br></h4><p>Les fonctions futures permettront <br></p>
<p> - d'ajouter une description dans la langue du livre.<br></p><p> - de gérer l'envoi d'un e-mail au bibliothécaire pour l'informer du réservation.<br></p>

<hr>

{% endblock %}
