{% extends 'base.html' %}

{% block content %}
<h1 class='title'>{% block title %} {{ _('Au sujet') }} {% endblock %} {{ _('de l"application bibliotheque') }}.</h1>
  <hr>
<br/>

<div class="container">

<h2 class="subtitle is-2"> {{ _('Quelles fonctionnalités?') }} </h2>

<ol type="1">
  <li> {{ _('Lister les livres') }} </li>
  <ol type="1">
    <li> {{ _('Editer un livre') }} </li>
  <li> {{ _('Ajout de livre') }} </li>
  <li> {{ _('Rechercher des livres') }} </li>
  <ol type="A">
    <li> {{ _('par Titre') }} </li>
    <li> {{ _('par Auteur') }}</li>
  </ol>

  <li> {{ _('Connection utilisateur') }}  </li>
  <li> {{ _('Deconnection') }} </li>
  <li>  {{ _('Enregistrer un utilisateur') }} </li>
  <li>  {{ _('Explication') }}</li>

</ol>
</div>

<hr>

{% endblock %}
