{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="center">
        <h2>{{ _('Bonjour, ') }}
          {% if session['logged_in'] %}
          {{session['user_name']}}
        {% else%}
          {% if message %}
              <b> {{message}} </b> <br>
          {% endif %}
          {{ _('vous n\'êtes pas connecté') }}
        {% endif %} </h2>
        <hr>
        <h1 class="center">{{ _('Bienvenue sur la bibliothèque de l\'association d\'Esperanto de Lausanne') }}</h1>

        <hr>
    </div>
</div>

{% endblock %}
