{% extends 'base.html' %}

{% block content %}

<h1 class='title'> {% block title %} {{ _('Enregistrement') }} {% endblock %} {{ _('de l\'Utilisateur') }}  </h1>
<hr>

  <center>

<h2 class="subtitile is-3"> {{ _('Saisissez votre nom et mot de passe') }} </h2>
  <hr>

<form onsubmit="save_data()" action="/registeruser" method="get">
  <input type="text" id="message" name="username" required placeholder={{ _('Votre_Nom') }}>
  <input type="password" name="password" required placeholder={{ _('Mot_de_Passe') }}>
  <input type="text" name="code" value={{ _("code de validation")}}>
  <input type="submit" value={{ _('Sauver') }}>
</form>

</center>
<hr>


{% endblock %}
